* {
  margin: 0;
  padding: 0;
}

body {
  background: #e0e0e0;
}

.view {
  margin: 0 auto;
  height: 100vh;
  width: 70vw;
  background: white;
  overflow: auto;
}

.note {
  margin: 5px 10px;
  padding: 20px;
  width: calc(50% - 62px);
  float: left;
  border: 1px solid black;
}
